body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

iframe {
  display: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__aside {
    min-width: 200px;
  }
}

.aside {
  &__top {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    margin-bottom: 12px;
  }
}

.button {
  cursor: pointer;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.position {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
  width: 220px;

  &--selected {
    background-color: aqua;
  }
}

.map {
  width: 100%;
  min-height: 80vh;
}

.advanced-marker {
}